.venv/
*.pyc
__pycache__/
.DS_Store

# add Training and Testing folders
data/Training*/
data/Testing*/

# add the action sequences folder
results/*/action_sequences/
data/temp/

# add the reward plots per scenario
results/*/plots/reward-plots-per-scenario/

# Ignore Jupyter notebook checkpoints and output
# .ipynb_checkpoints/

/results/a2c/*
/results/ppo/*
/results/dqn/*

!/results/a2c/_*
!/results/ppo/_*
!/results/dqn/_*

# Ignore all files in the trained_models directory
/trained_models/dqn/*
/trained_models/a2c/*
/trained_models/ppo/*

# Except do not ignore the trained_models directory itself
!/trained_models/dqn/
!/trained_models/a2c/
!/trained_models/ppo/

# Do not ignore files that start with an underscore in the trained_models directory
!/trained_models/dqn/_*
!/trained_models/a2c/_*
!/trained_models/ppo/_*logs/training/training_0238.json


logs/training/*
logs/*